body{
  background-color: black;
}
.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: white;
  background-color: black;
  align-items: center;
  align-content: center;
}

button {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 0;
}

#questionInput,#answerInput,#selectionField{
  margin-top: 4px;
  
}

input,
textarea,
select {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}